<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="256x256" href="apple-touch-icon.rot.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.rot.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.rot.png">
    <link rel="manifest" href="site.webmanifest">

    <style>
        body {
            font-family: sans-serif;
        }
        code, pre {
            font-family: monospace;
        }
        h1 code,
        h2 code,
        h3 code,
        h4 code,
        h5 code,
        h6 code {
            font-size: inherit;
        }

        #content { margin-top: 50px; }
        #page { max-width: 700px; }
    </style>
    <title>Albert: Intermediate smart contract programming language</title>
</head>
<body>

  <!-- Page Content -->
  <div id="page" class="container">
    <div class="row">
      <div id="content" class="col-lg-12 mt-5">
        {{content}}
      </div>
    </div>
  </div>

  <footer class="footer text-center">
      <hr>
      <p>© 2019-2020. <strong>Nomadic Labs</strong> All rights
        reserved.<br>
        Code snippets in the pages are released under The MIT License,
        unless otherwise specified.<br>
        The lollipop-flashlight logo is a derivative work of the flashlight
        from the library <a href="https://github.com/twitter/twemoji">twemoji</a>,
        licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY
        4.0</a></p>
  </footer>
</body>
</html>
